@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: white;
    font-family: 'Roboto Slab', 'Helvetica', 'sans-serif';
}

.display-4 {
    text-transform: uppercase;
}